language: objective-c
osx_image: xcode8.3
script:
    - xcodebuild clean test -project "SwipingCarousel.xcodeproj" -scheme "Swiping Carousel" -destination "platform=iOS Simulator,name=iPhone 7,OS=10.3.1" CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO ONLY_ACTIVE_ARCH=NO -quiet