<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>Nelson</string>
		<key>Image</key>
		<string>Profile2</string>
		<key>Profession</key>
		<string>Bogan</string>
		<key>Description</key>
		<string>Shoplifting is a victimless crime. Like punching someone in the dark.</string>
		<key>Activity</key>
		<string>25m @El Barto</string>
		<key>Liked</key>
		<true/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Bart</string>
		<key>Image</key>
		<string>Profile1</string>
		<key>Profession</key>
		<string>Troublemaker</string>
		<key>Description</key>
		<string>Aren&apos;t we forgetting the true meaning of Christmas: the birth of Santa. I didn&apos;t do it. Ay caramba.</string>
		<key>Activity</key>
		<string>25m @Nelson</string>
		<key>Liked</key>
		<true/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Sideshow Bob</string>
		<key>Image</key>
		<string>Profile3</string>
		<key>Profession</key>
		<string>Self-proclaimed genius</string>
		<key>Description</key>
		<string>I did once try to kill the world&apos;s greatest lover. But then I realized there are laws agains suicide.</string>
		<key>Activity</key>
		<string>42m @Edna</string>
		<key>Liked</key>
		<false/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Homer J.</string>
		<key>Image</key>
		<string>Profile4</string>
		<key>Profession</key>
		<string>Beer Drinker</string>
		<key>Description</key>
		<string>Now, son, you don&apos;t want to drink beer. That&apos;s for daddies, and kids with fake IDs.</string>
		<key>Activity</key>
		<string>15m @Moe</string>
		<key>Liked</key>
		<false/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Steve</string>
		<key>Image</key>
		<string>Profile5</string>
		<key>Profession</key>
		<string>Apple Founder</string>
		<key>Description</key>
		<string>Your time is limited, so don&apos;t waste it living someone else&apos;s life. Stay hungry, stay foolish.</string>
		<key>Activity</key>
		<string>2m @Tim</string>
		<key>Liked</key>
		<true/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Krusty</string>
		<key>Image</key>
		<string>Profile6</string>
		<key>Profession</key>
		<string>Clown</string>
		<key>Description</key>
		<string>Ahh, there&apos;s nothing better than a cigarette... unless it&apos;s a cigarette lit with a hundred-dollar bill. </string>
		<key>Activity</key>
		<string>17m @Monkey</string>
		<key>Liked</key>
		<false/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Diego</string>
		<key>Image</key>
		<string>Profile7</string>
		<key>Profession</key>
		<string>Hand of God</string>
		<key>Description</key>
		<string>La pelota no se mancha. Se le escapó la torguga y LTA.</string>
		<key>Activity</key>
		<string>10m @Guillote</string>
		<key>Liked</key>
		<true/>
	</dict>
</array>
</plist>
