<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>Michelle</string>
		<key>Image</key>
		<string>image</string>
		<key>Profession</key>
		<string>Artist</string>
		<key>Description</key>
		<string>To share my idea with somebody! I want to start my own fashion company. It&apos;s going to be called Black Milk! Ping me if you want to chat 😜</string>
		<key>Activity</key>
		<string>25m @Shrimp Daddy, Daan</string>
		<key>Liked</key>
		<true/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Michelle</string>
		<key>Image</key>
		<string>image</string>
		<key>Profession</key>
		<string>Artist</string>
		<key>Description</key>
		<string>To share my idea with somebody! I want to start my own fashion company. It&apos;s going to be called Black Milk! Ping me if you want to chat 😜</string>
		<key>Activity</key>
		<string>25m @Shrimp Daddy, Daan</string>
		<key>Liked</key>
		<true/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Michelle</string>
		<key>Image</key>
		<string>image</string>
		<key>Profession</key>
		<string>Artist</string>
		<key>Description</key>
		<string>To share my idea with somebody! I want to start my own fashion company. It&apos;s going to be called Black Milk! Ping me if you want to chat 😜</string>
		<key>Activity</key>
		<string>25m @Shrimp Daddy, Daan</string>
		<key>Liked</key>
		<true/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Michelle</string>
		<key>Image</key>
		<string>image</string>
		<key>Profession</key>
		<string>Artist</string>
		<key>Description</key>
		<string>To share my idea with somebody! I want to start my own fashion company. It&apos;s going to be called Black Milk! Ping me if you want to chat 😜</string>
		<key>Activity</key>
		<string>25m @Shrimp Daddy, Daan</string>
		<key>Liked</key>
		<true/>
	</dict>
</array>
</plist>
